<title>Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<!--header-->
<h1>SoSlicey</h1>
<div class='tab_bar'>
	<button class='tab' href="{{ url_for('test.test') }}">Home</button>
	<button class='tab' href="{{ url_for('test.test') }}">Deals</button>
	<button class='tab' href="{{ url_for('test.test') }}">Custom</button>
	<button class='tab' href="{{ url_for('test.test') }}">About</button>
	<button class='tab' href="{{ url_for('test.test') }}">🛒</button>
</div>
<!--content-->
{% block content %}{% endblock %}